XML/XSD/Pratica2/Ejercicio1/ejercicio1.xsd

<?xml version="1alumnoUTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string">
                
                </xs:element>
            </xs:sequence>
            <xs:attribute name = "dni">
                <xs:simpleType>
                    <xs:restriction base ="xs:string">
                        <xs:pattern value="[0-9]{8}[A-Z]"></xs:pattern>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>